/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Klee+One&display=swap');
:root {
  --main-color: rgb(28, 28, 28);
  --p-color: rgb(116, 129, 130);
  --h-color: rgb(52, 52, 52);
  --bg-section: rgb(247, 247, 247);
  --bg-second: #f4f4f4;
}
body {
  font-family: "Klee One", cursive;
  /* font-family: "IBM Plex Serif", serif; */
    /* font-family: "Poppins", sans-serif; */
  font-weight: 400;
}
p {
  color: var(--p-color);
  font-size: 15px;
  line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Montserrat", sans-serif; */
  color: var(--h-color);
}
.main-color {
  color: var(--main-color);
}

.p-color {
  color: var(--p-color);
}
.h-color {
  color: var(--h-color);
}
.bg-section {
  background-color: var(--bg-section);
}
.bg-second {
  background-color: var(--bg-second);
}
a,
i {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: var(--bg-second);
  /* border-left: 2px solid #eee; */
  box-shadow: 0px 0px 21px 0px #0003 inset;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  box-shadow: 0px 0px 10px 0px #eeeeee8c inset;
  border-radius: 100vh;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}
::selection {
  background-color: var(--selection);
  color: #fff;
}
/* ?------------------ start component*/
.up {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--main-color);
  transition: all 0.4s;
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
  &:hover {
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
  }
  i {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.title {
  h2 {
    font-weight: 900;
    font-size: 40px;
    margin: auto;
    width: fit-content;
    padding: 0;
    position: relative;
    z-index: 1;
    letter-spacing: 2px;
  }
  h2::before {
    content: "";
    position: absolute;
    background-image: url(../image/dots.png);
    width: 100%;
    height: 60%;
    left: 0;
    bottom: -5px;
    z-index: -1;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* ?------------------ end component*/
/* !start navbar */

#navbar {
  .logo {
    padding-block: 7px;
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 24px;
    /* font-family: "Montserrat", sans-serif; */
    color: #fff;
  }
  .navbar-nav .nav-link {
    color: #fff;
    margin-inline: 15px;
    font-size: 18px;
    position: relative;
  }
  .navbar-nav .nav-link::after {
    transition: all 0.5s;
    content: "";
    position: absolute;
    bottom: 6px;
    left: 7px;
    width: 0;
    height: 1.5px;
    border-radius: 5px;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
  }
  .navbar-nav .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 7px;
    width: 75%;
    height: 1.5px;
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.5s;
    visibility: visible;
    opacity: 1;
  }
  .menues {
    color: white;
  }
  @media (max-width: 991px) {
    .navbar-nav .nav-link::after,
    .navbar-nav .nav-link.active::after {
      content: none;
    }
    .navbar {
      .navbar-collapse {
        background-color: #fff;
        width: 100%;
      }
      .navbar-nav .nav-link {
        color: black;
      }
    }
  }
}
body:has(.scrolledBlack) {
  #navbar {
    .navbar {
      background-color: #fff !important;
    }
    .logo {
      color: var(--main-color);
    }
    .navbar-nav .nav-link {
      color: black !important;
    }
    .navbar-nav .nav-link.active::after {
      background-color: var(--main-color);
    }
    .menues {
      color: black;
    }
  }
}
body:has(.hid) {
  #navbar {
    display: none;
  }
}

/* !end navbar */
/* *start home */
#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../image/bg-home.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  h3 {
    font-weight: 800;
    font-size: 50px;
  }
  h4 {
    font-weight: 200;
    font-size: 60px;
    span {
      font-weight: 400;
    }
  }
  .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: all 0.5s;
    background-color: white;
    i {
      color: black;
      font-size: 24px;
      transition: all 0.5s;
    }
    &:hover {
      box-shadow: 0 0 10px black inset ;
      i {
        scale: 1.2;
        filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.7));
      }
    }
  }
}
@media (max-width: 991px) {
  #home {
    h4 {
      font-size: 30px;
    }
  }
}
/* *end home */
/* ?start about */
#about {
 
  .about {
    h3 {
      font-size: 30px;
      font-weight: 800;
      margin-bottom: 0;
    }
    > span {
      display: inline-block;
      color: rgba(153, 153, 153, 0.799);
      font-size: 22px;
      word-spacing: 5px;
      letter-spacing: 1px;
      font-weight: 600;
      margin-bottom: 14px;
    }
    .about-text{
      font-size: 20px;
    }
    p > span {
      font-weight: 700;
    }
    .progress {
      height: 30px;
      margin-block: 30px;
      border-radius: 30px;
      .progress-bar {
        background-color: var(--main-color);
        border-radius: 30px;
        span {
          font-size: 17px;
          font-weight: 500;
        }
      }
    }
    .buttons {
      .btn {
        padding: 8px 26px;
        font-size: 17px;
        transition: all 0.8s;
      }
      .btn1 {
        background-color: var(--main-color);
        color: white;
        &:hover {
          background-color: transparent;
          color: var(--p-color);
          border: 1px solid var(--main-color);
        }
      }
      .btn2 {
        background-color: transparent;
        color: var(--p-color);
        border: 1px solid var(--main-color);
        &:hover {
          color: white;
          background-color: var(--main-color);
        }
      }
    }
  }
}
/* ?end about */
/* !start services */
#services {
  background-color: var(--bg-section);
  .box {
    background-color: #fff;
    .icon {
      margin-inline: auto;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: var(--bg-section);
      display: grid;
      place-items: center;
      transition: all 0.8s;
      i {
        font-size: 30px;
        transition: all 0.8s;
      }
    }
    h3 {
      font-size: 18px;
      font-weight: 800;
    }
    p {
      font-size: 14px;
      /* width: 85%; */
    }
    &:hover {
      i {
        color: #fff;
      }
      .icon {
        background-color: var(--main-color);
      }
    }
  }
}
/* !end services */
/* *start works */
#works {
  .nav-pills .nav-link {
    color: var(--main-color);
    font-weight: 700;
  }
  .nav-pills .nav-link.active {
    background-color: transparent;
    position: relative;
  }
  .nav-pills .nav-link::after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 15px;
    height: 2px;
    background-color: var(--main-color);
    width: 0;
    transition: all 0.5s;
  }
  .nav-pills .nav-link.active::after {
    width: 65%;
  }
  figure {
    width: 100%;
    height: 350px;
    margin-bottom: 0;
    position: relative;
    text-align: center;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      transition: all 0.5s;
    }
    &:hover {
      img{
        scale: 1.1;
        rotate: 2deg;
      }
      figcaption {
        visibility: visible;
        opacity: 1;
        p {
          font-size: 25px;
          transform: translateY(10px);
        }
      }
    }
    figcaption {
      position: absolute;
      inset: 0;
      background-color: rgba(255, 255, 255, 0.5);
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s;
      p {
        background-color: var(--main-color);
        padding-inline: 20px;
        border-radius: 90px;
        color: white;
        font-size: 25px;
        font-weight: 700;
        /* color: var(--main-color); */
        letter-spacing: 2px;
        transform: translateY(-10px);
        transition: all 0.5s;
      }
      .icon {
        display: grid;
        place-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background-color: var(--main-color);
        border-radius: 50%;
        transition: all 0.5s;
        &:hover {
          background-color: white;
          border: 1px solid var(--main-color);
          i {
            color: var(--main-color);
          }
        }
        i {
          transition: all 0.5s;
          font-size: 18px;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
  .tab-content .tab-pane .row .col-md-4 figure {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 25px;
  }
}
/* *end works */
/* ?start contact */
#contact {
  background-color: var(--bg-section);
  .box {
    transition: all 0.5s;
    &:hover {
      .icon {
        background-color: var(--main-color);
        i {
          color: white;
        }
      }
    }
    .icon {
      width: 60px;
      height: 60px;
      background-color: var(--bg-section);
      background-color: white;
      display: grid;
      place-items: center;
      border-radius: 50%;
      transition: all 0.5s;
      i {
        color: var(--main-color);
        transition: all 0.5s;
        font-size: 25px;
      }
    }
    h3 {
      font-size: 16px;
      font-weight: 700;
    }
  }
  #message {
    height: 150px;
  }
  .form-control {
    border: 0;
    /* background-color: var(--bg-section); */
    margin-block: 20px;
    box-shadow: none;
    max-height: 150px;
    transition: all 0.5s;
    &:focus,
    &:hover {
      box-shadow: 0 0 10px rgba(52, 52, 52, 0.5);
    }
  }
  button {
    margin-right: auto;
    margin-left: 12px;
    width: fit-content;
    padding: 8px 30px;
    font-size: 18px;
    transition: all 0.8s;
    background-color: var(--main-color);
    color: white;
    &:hover {
      color: var(--p-color);
      background-color: transparent;
      border: 1px solid var(--main-color);
    }
  }
}
/* ?end contact */
/* !start footer */
#footer {
  background-color: var(--main-color);
  p {
    font-size: 13px;
  }
}
/* !end footer */
